.onboarding-metametrics {
  @media screen and (max-width: $break-small) {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 25px;
  }

  @media screen and (min-width: $break-large) {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
  }

  ul {
    margin: 24px 0 0 0;

    @media screen and (min-width: $break-large) {
      margin-inline-start: 200px;
      margin-inline-end: 183px;
    }

    li {
      padding-bottom: 20px;
      display: flex;
    }
  }

  .fa {
    width: 16px;
  }

  .fa-check {
    margin-inline-end: 12px;
    color: #1acc56;
  }

  .fa-times {
    margin-inline-end: 12px;
    color: #d0021b;
  }

  &__terms a {
    color: var(--Blue-500);
  }

  &__buttons {
    justify-content: space-around;
    display: flex;

    @media screen and (min-width: $break-large) {
      margin-bottom: 103px;
      margin-top: 40px;
    }

    &__no-thanks {
      @media screen and (min-width: $break-large) {
        margin-inline-end: 96px;
      }
    }

    @media screen and (max-width: $break-small) {
      margin-top: 24px;
    }

    button {
      width: 200px;

      @media screen and (max-width: $break-small) {
        width: 153px;
        margin-bottom: 24px;
      }
    }
  }
}
