.collectibles-detection-notice {
  margin: 16px 16px 0 16px;

  &__message {
    position: relative;
    padding: 0.75rem 0.75rem 1rem 0.75rem !important;

    & &__close-button {
      color: var(--color-icon-default);
      background: none;
      position: absolute;
      cursor: pointer;
      right: 8px;

      @media screen and (min-width: 1439px) {
        display: none;
      }
    }

    & &__data {
      @media screen and (min-width: 1439px) {
        display: inline-flex;
      }
    }

    &__fullscreen-links {
      @media screen and (min-width: 1439px) {
        margin-left: 40px;
      }
      @media screen and (min-width: 1679px) {
        margin-left: 185px;
      }
      @media screen and (min-width: 1919px) {
        margin-left: 335px;
      }
    }

    & &__settings-link,
    & &__dismiss-link {
      @include H7;

      font-weight: bold;
      padding: 4px 0;
    }

    & &__settings-link {
      min-width: 100%;
    }

    & &__dismiss-link {
      color: var(--color-text-default);

      @media screen and (max-width: 1439px) {
        display: none;
      }
    }
  }
}
