.create-password {
  &__weak {
    color: var(--error-1);
  }

  &__average {
    color: var(--secondary-3);;
  }

  &__strong {
    color: var(--success-3);
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    max-height: 750px;
    margin-top: 24px;
    margin-bottom: 40px;

    @media screen and (min-width: $break-large) {
      margin-top: 40px;
      margin-bottom: 170px;
    }
  }

  &__link-text {
    color: var(--primary-1);
  }

  &__form {
    @media screen and (min-width: $break-large) {
      padding: 0 198px;
    }


    &--password-button {
      background-color: transparent;
    }

    &--submit-button {
      padding: 20px;
    }

    &--checkmark {
      i {
        color: var(--success-1);
      }
    }

    .form-field__input {
      height: 50px;
    }
  }
}
